<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${datatables}">Pay My Buddy</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.2.0/css/bootstrap.min.css}">
    <link th:if="${datatables}" rel="stylesheet"
          th:href="@{/webjars/datatables/media/css/jquery.dataTables.min.css}">
    <script th:if="${datatables}"
            th:src="@{/webjars/datatables/media/js/jquery.js}"></script>
    <script th:if="${datatables}"
            th:src="@{/webjars/datatables/media/js/jquery.dataTables.min.js}"></script>
    <link rel="stylesheet" th:href="@{/styles/style.css}">
</head>
<body>
<header>
    <nav class="navbar navbar-expand-sm navbar-light">
        <div class="navbar-brand">
            <div th:insert="logo"></div>
        </div>
        <div class="navbar-nav ms-auto">
            <a class="nav-item nav-link" href="#">Home</a>
            <a class="nav-item nav-link active" th:href="@{/transfer}">Transfer</a>
            <a class="nav-item nav-link" th:href="@{/profile}">Profile</a>
            <a class="nav-item nav-link" href="#">Contact</a>
            <a class="nav-item nav-link" href="/logout">Log off</a>
        </div>
    </nav>
    <nav class="navbar navbar-light bg-light">
        <ol class="breadcrumb ms-2">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active">Transfer</li>
        </ol>
    </nav>
</header>
</body>
</html>