<!DOCTYPE html>
<html lang="en">
<head th:insert="header :: head"><title>Pay My Buddy</title></head>
<body>
<header th:insert="header :: header"></header>

<main class="container">
  <section class="row justify-content-center">
    <form name="f" th:action="@{/new-connection}" method="post"
          class="m-2 m-sm-5 col col-sm-8 border p-4 bg-light">
      <h6 class="col">Add a new connection</h6>
      <div th:if="${param.error}" class="alert alert-danger">
        Could not find a user with the email provided.
      </div>
      <div th:if="${param.duplicated}" class="alert alert-danger">
        You are already connected to that user.
      </div>
      <div th:if="${param.self}" class="alert alert-danger">
        You can't add yourself as a connection.
      </div>
      <div class="input-group m-2 justify-content-center">
        <label>
          <input type="email" id="email" name="email" placeholder="Email" required
                 class="form-control envelope-icon">
        </label>
      </div>
      <div class="input-group m-2 justify-content-center">
        <div>
          <button type="submit" class="btn btn-primary ps-5 pe-5">Connect</button>
        </div>
        <div>
          <a href="/transfer" class="btn btn-secondary ps-5 pe-5">Cancel</a>
        </div>
      </div>
    </form>
  </section>
</main>

</body>
</html>