<!DOCTYPE html>
<html lang="en">
<head th:insert="header :: head"><title>Pay My Buddy</title></head>
<body>
<header th:insert="header :: header"></header>

<main class="container">
    <section th:if="${balanceNeeded}" class="row justify-content-center">
        <div class="alert alert-warning col col-sm-8 m-sm-4 p-4">
            You need to add at least
            <span th:text="${#numbers.formatCurrency(balanceNeeded)}"></span>
            to your balance before sending
            <span th:text="${#numbers.formatCurrency(param.amount)}"></span>
            .<br>
            <form th:action="@{/add-balance}" method="post">
                <input type="hidden" name="to" th:value="${param.to}">
                <input type="hidden" name="amountToPay" th:value="${param.amount}">
                <input type="hidden" name="description" th:value="${description}">
                <input type="hidden" name="balanceNeeded" th:value="${balanceNeeded}">
                <input type="submit" value="Add balance" class="btn btn-primary m-2">
            </form>
        </div>
    </section>
    <section class="row justify-content-center">
        <form th:action="@{/pay}" method="post"
              class="col col-sm-8 border p-4 bg-light m-sm-2">
            <h6 class="col">Send Money</h6>
            <div th:if="${#strings.isEmpty(param.to)}" class="col alert alert-info">
                Select a connection that will receive the money.
            </div>
            <div class="col input-group">
                <label>
                    <select class="form-select m-2" name="to" id="to">
                        <option value="">Select a connection</option>
                        <option th:each="connection: ${connections}"
                                th:value="${connection.id}"
                                th:text="${connection.profileName}"
                                th:selected="${#strings.equals(#strings.toString(connection.id),param.to)}"
                        >Contacts</option>
                    </select>
                </label>
            </div>
            <div th:if="${#strings.isEmpty(param.amount) or param.amount.equals('0.0')}" class="col alert alert-info">
                Enter the amount to send.
            </div>
            <div class="col input-group m-2">
                <label>
                    <input type="number" min="0"
                           step="0.01" th:value="${param.amount}" placeholder="Amount"
                           id="amount" name="amount" required
                           class="form-control euro-icon">
                </label>
            </div>
            <div th:if="${#strings.isEmpty(description)}" class="col alert alert-info">
                Enter a description to include with the transfer.
            </div>
            <div class="col input-group m-2">
                <label>
                    <input type="text" maxlength="70" autofocus
                           th:value="${description}"
                           id="description" name="description" placeholder="Description of the payment" required
                           class="form-control">
                </label>
            </div>
            <div class="col-auto">
                <input type="submit" value="Pay"
                       class="btn btn-success m-2 ps-5 pe-5">
            </div>
        </form>
    </section>
</main>

</body>
</html>