<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:insert="header :: head"><title>Pay My Buddy</title></head>
<body>
    <header th:insert="header :: header"></header>

    <main class="container">
        <section class="container m-4">
            <div th:if="${param.connection}" class="alert alert-info">
                New connection added.
            </div>
            <div class="row justify-content-between align-bottom">
                <h6 class="col">Send Money</h6>
                <div class="col-auto">
                    <a class="col btn btn-primary" href="/new-connection">Add Connection</a>
                </div>
                <form class="row bg-light justify-content-center" th:action="@{/pay}" method="POST">
                    <div class="col input-group">
                        <label>
                            <select class="form-select m-2" id="to" name="to" required>
                                <option value="">Select a connection</option>
                                <option th:each="connection: ${connections}"
                                        th:value="${connection.key}"
                                        th:text="${connection.value}"
                                >Contacts</option>
                            </select>
                        </label>
                    </div>
                    <div class="col input-group m-2">
                        <label>
                            <input type="number" min="0.01"
                                   step="0.01" value="0" placeholder="Amount"
                                   id="amount" name="amount" required
                                   class="form-control euro-icon">
                        </label>
                    </div>
                    <div class="col-auto">
                        <input type="submit" value="Pay"
                               class="btn btn-success m-2 ps-5 pe-5">
                    </div>
                </form>
            </div>
        </section>

        <section class="container m-4">
            <div th:if="${param.paid}" class="alert alert-success">
                Payment sent!
            </div>
            <div class="row">
                <h6 class="col">My Transactions</h6>
            </div>
            <div class="row">
                <table class="col table-bordered">
                    <thead>
                    <tr>
                        <th>Connections</th>
                        <th>Description</th>
                        <th>Amount</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="transfer:${transfers}">
                        <td th:text="${transfer.receiver.profileName}">Hayley</td>
                        <td th:text="${transfer.description}">Restaurant bill share</td>
                        <td th:with="euros=${transfer.amountInEuros}"
                            th:text="${#strings.replace(
                                            #numbers.formatCurrency(euros),
                                            ',00', '')}">20 €</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="row">
                <nav class="col">
                    <ul class="pagination justify-content-center">
                        <li class="page-item">
                            <a class="page-link" href="#">&laquo;</a>
                        </li>
                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item"><a class="page-link" href="#">4</a></li>
                        <li class="page-item"><a class="page-link" href="#">5</a></li>
                        <li class="page-item">
                            <a class="page-link" href="#">&raquo;</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </section>
    </main>
</body>
</html>