/* for the pseudo logo Pay My Buddy */
.brand {
    all: unset;
    font-size: large;
    padding: 0.5em;
    padding-left: 1em;
    padding-right: 1em;
    color: #F2F9F0;
    background-color: #75BE52;
    background-image: linear-gradient(to right, #66BC61, #8CC44B);
    border-radius: 0.4em;
}

/* green buttons and tables should match the brand color */
.btn-success, th {
    background-color: #66BC61;
    color: #F2F9F0;
}

/* global formatting table cells */

th, td {
    text-align: center;
    padding: 1em;
}

/* icons in inputs */
input.euro-icon {
    background: white url("../icons/currency-euro.svg") no-repeat right 2em center;
}
input.envelope-icon {
    background: white url("../icons/envelope.svg") no-repeat left 1em center;
    padding-left: 3em;
}
input.asterisk-icon {
    background: white url("../icons/asterisk.svg") no-repeat left 1em center;
    padding-left: 3em;
}